ams_xml_schemas_2021-09/AMS_940_XML_V012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (x64) (http://www.altova.com) by Marco Pelaez (Private) -->
<!-- W3C Schema generated by XMLSpy v2019 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions">
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddressLocationQualifier"/>
				<xs:element ref="LocationNumber" minOccurs="0"/>
				<xs:element ref="Name"/>
				<xs:element ref="Address1"/>
				<xs:element ref="Address2" minOccurs="0"/>
				<xs:element ref="City"/>
				<xs:element ref="State"/>
				<xs:element ref="Zip"/>
				<xs:element ref="Country"/>
				<xs:element ref="PhoneNumber"/>
				<xs:element ref="EmailAddress" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address1">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12345 Main St"/>
					<altova:example value="98765 Second Ave"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address2">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Suite 784"/>
					<altova:example value="Apt 396"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AddressLocationQualifier">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="ST"/>
					<altova:example value="BT"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="2"/>
				<xs:enumeration value="ST"/>
				<xs:enumeration value="BT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address" maxOccurs="2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="City">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Hometown"/>
					<altova:example value="Sometown"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClientCode">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="WI"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Color">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Black"/>
					<altova:example value="Blue"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="USA"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="2"/>
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1YH874"/>
					<altova:example value="45678912"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerOrderNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="654987"/>
					<altova:example value="123987"/>
					<altova:example value="654987"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Date">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DateQualifier"/>
				<xs:element ref="DateText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateQualifier">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="008"/>
					<altova:example value="037"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="3"/>
				<xs:enumeration value="001"/>
				<xs:enumeration value="037"/>
				<xs:enumeration value="038"/>
				<xs:enumeration value="008"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DateText" type="xs:date">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2017-12-31"/>
					<altova:example value="2017-12-31"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="Dates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Date" maxOccurs="4"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Department">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12345"/>
					<altova:example value="Mens Shoes"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Description">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Fancy Exciting Widget"/>
					<altova:example value="Super Fancier Exciting Widget"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderTotalCharge" type="xs:decimal">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="190.25"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="DiscountAmount" type="xs:decimal">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="5.64"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="Division">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12455"/>
					<altova:example value="Homegoods"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentType"/>
				<xs:element ref="Version"/>
				<xs:element ref="ClientCode"/>
				<xs:element ref="Order" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentType">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="940"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EmailAddress">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Testing@amsfulfillment.com"/>
					<altova:example value="StillTesting@amsfulfillment.com"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="100"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HandlingCharge" type="xs:decimal">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="4.95"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ItemNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="6782943571"/>
					<altova:example value="00254893157845"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LineItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LineNumber" minOccurs="0"/>
				<xs:element ref="ItemNumber"/>
				<xs:element ref="UPC" minOccurs="0"/>
				<xs:element ref="QTY"/>
				<xs:element ref="QTYUOM"/>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="Style" minOccurs="0"/>
				<xs:element ref="Size" minOccurs="0"/>
				<xs:element ref="Color" minOccurs="0"/>
				<xs:element ref="RetailerItemNumber" minOccurs="0"/>
				<xs:element ref="UnitPrice" minOccurs="0"/>
				<xs:element name="OuterPack" type="xs:int" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="10"/>
								<altova:example value="12"/>
								<altova:example value="100"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LineItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="01"/>
					<altova:example value="02"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LocationNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="68521"/>
					<altova:example value="05879"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="John Smith"/>
					<altova:example value="Jane Smith"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Note">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NotesQualifier"/>
				<xs:element ref="NotesText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Notes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Note" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NotesQualifier">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="OrderMessage"/>
					<altova:example value="GiftMessage"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
				<xs:enumeration value="GiftMessage"/>
				<xs:enumeration value="OrderMessage"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NotesText">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Happy Birthday dear son."/>
					<altova:example value="Please call me when you get this."/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="200"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderHeader"/>
				<xs:element ref="Dates"/>
				<xs:element ref="References"/>
				<xs:element ref="Notes"/>
				<xs:element ref="Addresses"/>
				<xs:element ref="LineItems"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderChannel">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Shopify"/>
					<altova:example value="Nordstrom"/>
					<altova:example value="AmazonSFP"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
				<xs:whiteSpace value="collapse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PurchaseOrderNumber"/>
				<xs:element ref="RetailerPurchaseOrderNumber" minOccurs="0"/>
				<xs:element ref="RetailerOrderNumber" minOccurs="0"/>
				<xs:element ref="CustomerOrderNumber" minOccurs="0"/>
				<xs:element ref="OrderChannel"/>
				<xs:element ref="Department" minOccurs="0"/>
				<xs:element ref="Division" minOccurs="0"/>
				<xs:element ref="CustomerNumber" minOccurs="0"/>
				<xs:element ref="VendorID" minOccurs="0"/>
				<xs:element ref="ShipViaCode"/>
				<xs:element ref="ThirdPartyShippingAccountNumber" minOccurs="0"/>
				<xs:element ref="OrderPriority" minOccurs="0"/>
				<xs:element ref="ShippingCharge" minOccurs="0"/>
				<xs:element ref="HandlingCharge" minOccurs="0"/>
				<xs:element ref="TaxCharge" minOccurs="0"/>
				<xs:element ref="DiscountAmount" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderPriority">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1"/>
					<altova:example value="2"/>
					<altova:example value="3"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
				<xs:enumeration value="7"/>
				<xs:enumeration value="8"/>
				<xs:enumeration value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PhoneNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="5558675309"/>
					<altova:example value="6617750611"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="15"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PurchaseOrderNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="ORDER123"/>
					<altova:example value="ORDER456"/>
					<altova:example value="ORDER789"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QTY" type="xs:integer">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1"/>
					<altova:example value="2"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="QTYUOM">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="2"/>
				<xs:enumeration value="EA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Reference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReferenceQualifier"/>
				<xs:element ref="ReferenceText" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReferenceQualifier" type="xs:string"/>
	<xs:element name="ReferenceText" type="xs:string"/>
	<xs:element name="References">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Reference" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetailerItemNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="123456-0987"/>
					<altova:example value="654321-9874"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RetailerOrderNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="4321"/>
					<altova:example value="5678"/>
					<altova:example value="0987"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RetailerPurchaseOrderNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="PO1234"/>
					<altova:example value="PO5678"/>
					<altova:example value="PO8901"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipViaCode">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="FEDXHD"/>
					<altova:example value="UPSO/N"/>
					<altova:example value="FEDX2D"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="6"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShipFromLocation">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="WIT2"/>
					<altova:example value="WIL1"/>
					<altova:example value="LIV1"/>
					<altova:example value="HQ01"/>
					<altova:example value="BOU1"/>
					<altova:example value="SHK1"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="10"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShippingCharge" type="xs:decimal">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="9.95"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="Size">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="9.5"/>
					<altova:example value="10"/>
					<altova:example value="10.5"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="State">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="CA"/>
					<altova:example value="NY"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Style">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Bubbles"/>
					<altova:example value="Artesian"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TaxCharge" type="xs:decimal">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="3.95"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ThirdPartyShippingAccountNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1324234"/>
					<altova:example value="23423423"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="20"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UPC">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="005487953201"/>
					<altova:example value="0098658752584"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UnitPrice" type="xs:decimal">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12.95"/>
					<altova:example value="13.95"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="VendorID">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="49876215"/>
					<altova:example value="29785416"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Version">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="V007"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Zip">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="98110"/>
					<altova:example value="92345-1234"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
