ams_xml_schemas_2021-09/AMS_945_XML_V009.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (x64) (http://www.altova.com) by Marco Pelaez (Private) -->
<!-- W3C Schema generated by XMLSpy v2019 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions">
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddressLocationQualifier"/>
				<xs:element ref="LocationNumber"/>
				<xs:element ref="Name"/>
				<xs:element ref="Address1"/>
				<xs:element ref="Address2" minOccurs="0"/>
				<xs:element ref="City"/>
				<xs:element ref="State"/>
				<xs:element ref="Zip"/>
				<xs:element ref="Country"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address1">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="123 Main St"/>
					<altova:example value="345 Second Ave"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address2">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Suite 12"/>
					<altova:example value="Building 32"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="35"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AddressLocationQualifier">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="ST"/>
					<altova:example value="BT"/>
					<altova:example value="SF"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="2"/>
				<xs:enumeration value="ST"/>
				<xs:enumeration value="BT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address" minOccurs="0" maxOccurs="2"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AsnDate" type="xs:date">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2018-01-27"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="AsnTime" type="xs:time">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="09:30:47-08:00"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="BOL">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12345678901234566"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Carton">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SSCC18"/>
				<xs:element ref="TrackingNumber" minOccurs="0"/>
				<xs:element ref="CartonContentsQty"/>
				<xs:element ref="CartonWeight" minOccurs="0"/>
				<xs:element ref="LineItems"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CartonContentsQty" type="xs:integer">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10"/>
					<altova:example value="20"/>
					<altova:example value="30"/>
					<altova:example value="40"/>
					<altova:example value="50"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="CartonPackagingCode">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="CTN25"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CTN25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CartonWeight" type="xs:decimal">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10.23"/>
					<altova:example value="20.46"/>
					<altova:example value="30.69"/>
					<altova:example value="40.92"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="Cartons">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Carton" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CartonsTotal" type="xs:integer">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="City">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Hometown"/>
					<altova:example value="Sometown"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ClientCode">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="WI"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Color">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Bllack"/>
					<altova:example value="White"/>
					<altova:example value="Blue"/>
					<altova:example value="Green"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Country">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="USA"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="234234"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CustomerOrderNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="234234234"/>
					<altova:example value="444234323"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Date">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateQualifier">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="011"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="011"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DateText" type="xs:date">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2018-01-30"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="Dates">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Department">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="3333"/>
					<altova:example value="Mens Shoes"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Description">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Shoes"/>
					<altova:example value="Sunglasses"/>
					<altova:example value="Necklace"/>
					<altova:example value="Paper Towels"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Division">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="23423"/>
					<altova:example value="Mens Ware"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Document">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DocumentType"/>
				<xs:element ref="Version"/>
				<xs:element ref="ClientCode"/>
				<xs:element ref="Shipment" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentType">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="945"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EmailAdress">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ItemNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1234567890"/>
					<altova:example value="0987654321"/>
					<altova:example value="6789054321"/>
					<altova:example value="0123478965"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LineItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LineNumber" minOccurs="0"/>
				<xs:element ref="ItemNumber"/>
				<xs:element ref="UPC" minOccurs="0"/>
				<xs:element ref="QTYOrdered" minOccurs="0"/>
				<xs:element ref="QTYShipped"/>
				<xs:element ref="QTYUOM"/>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="Style" minOccurs="0"/>
				<xs:element ref="Size" minOccurs="0"/>
				<xs:element ref="Color" minOccurs="0"/>
				<xs:element ref="RetailerItemNumber" minOccurs="0"/>
				<xs:element name="OuterPack" type="xs:int" minOccurs="0">
					<xs:annotation>
						<xs:appinfo>
							<altova:exampleValues>
								<altova:example value="10"/>
								<altova:example value="12"/>
								<altova:example value="100"/>
							</altova:exampleValues>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineItems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LineItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="01"/>
					<altova:example value="02"/>
					<altova:example value="03"/>
					<altova:example value="04"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LoadID" type="xs:string">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="321456987"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="LocationNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="23234234"/>
					<altova:example value="2342342"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MBOL">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12345678901234567"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="John Smith"/>
					<altova:example value="Jane Smith"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OrderHeader"/>
				<xs:element ref="Cartons"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderChannel">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Shopify"/>
					<altova:example value="Nordstrom"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OrderHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PurchaseOrderNumber"/>
				<xs:element ref="RetailerPurchaseOrderNumber" minOccurs="0"/>
				<xs:element ref="RetailerOrderNumber" minOccurs="0"/>
				<xs:element ref="CustomerOrderNumber" minOccurs="0"/>
				<xs:element ref="Department" minOccurs="0"/>
				<xs:element ref="Division" minOccurs="0"/>
				<xs:element ref="OrderWeight" minOccurs="0"/>
				<xs:element ref="CartonsTotal"/>
				<xs:element ref="QTYOrdered"/>
				<xs:element ref="QTYShipped"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrderWeight" type="xs:decimal">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10.23"/>
					<altova:example value="19.23"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="Orders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Order" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OrdersTotal" type="xs:integer">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShipFromLocation">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="WIT2"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="PhoneNumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PurchaseOrderNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="23456342"/>
					<altova:example value="234555223"/>
					<altova:example value="234523SDF"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="QTYOrdered" type="xs:integer">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12"/>
					<altova:example value="34"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="QTYShipped" type="xs:integer">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="23"/>
					<altova:example value="32"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="QTYUOM">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="EA"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="2"/>
				<xs:enumeration value="EA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Reference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReferenceQualifier"/>
				<xs:element ref="ReferenceText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReferenceQualifier" type="xs:string">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="TST"/>
					<altova:example value="DFS"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReferenceText" type="xs:string">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Testing text"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="References">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Reference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetailerItemNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2342333"/>
					<altova:example value="565465456"/>
					<altova:example value="435343453"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RetailerOrderNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="23423423"/>
					<altova:example value="234234443"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RetailerPurchaseOrderNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="234234234"/>
					<altova:example value="24333243"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SSCC18" type="xs:integer">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="12345678901234567890"/>
					<altova:example value="09876543210987654321"/>
					<altova:example value="09876543211234567890"/>
					<altova:example value="12345678900987654321"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShipViaCode">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="FEDX2D"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Shipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShipmentHeader"/>
				<xs:element ref="References" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Addresses"/>
				<xs:element ref="Orders"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShipmentCost" type="xs:decimal">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2.30"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShipmentDate" type="xs:date">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2018-01-23"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShipmentHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShipmentID"/>
				<xs:element ref="OrderChannel" minOccurs="0"/>
				<xs:element ref="CustomerNumber" minOccurs="0"/>
				<xs:element ref="VendorID" minOccurs="0"/>
				<xs:element ref="ShipViaCode"/>
				<xs:element ref="AsnDate"/>
				<xs:element ref="AsnTime"/>
				<xs:element ref="ShipmentDate"/>
				<xs:element ref="ShipmentTime"/>
				<xs:element ref="MBOL" minOccurs="0"/>
				<xs:element ref="BOL" minOccurs="0"/>
				<xs:element ref="ShippingNumber" minOccurs="0"/>
				<xs:element ref="LoadID" minOccurs="0"/>
				<xs:element ref="ShipmentWeight"/>
				<xs:element ref="ShipmentCost"/>
				<xs:element ref="CartonsTotal"/>
				<xs:element ref="CartonPackagingCode"/>
				<xs:element ref="OrdersTotal"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShipmentID" type="xs:integer">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="123456789"/>
					<altova:example value="987654321"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShipmentTime" type="xs:time">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="09:30:47-08:00"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShipmentWeight" type="xs:decimal">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="10"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="ShippingNumber" type="xs:string">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1ZTESTTEST"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="Size">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="9.5"/>
					<altova:example value="10"/>
					<altova:example value="10.5"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="State">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="WA"/>
					<altova:example value="CA"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:length value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Style">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="Tall"/>
					<altova:example value="Short"/>
					<altova:example value="Thin"/>
					<altova:example value="Wide"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="22"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TrackingNumber">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1ZTESTTESTTEST"/>
					<altova:example value="987654321234567876543212309876"/>
					<altova:example value="1ZTESTTESTTEST02"/>
					<altova:example value="78978279878937457987893458978"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UPC">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="009876543212"/>
					<altova:example value="007654324567"/>
					<altova:example value="008976543567"/>
					<altova:example value="007896754324"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VendorID">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2343SDF"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Version">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="V007"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Zip">
		<xs:annotation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="92345"/>
					<altova:example value="23665-0987"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="10"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
